src/main/mule/demo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="0616a599-6142-45df-8012-e9dceac0d81c" basePath="/timezone" >
		<http:listener-connection host="0.0.0.0" port="8099" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="8abba324-abee-40ef-9d6d-d2beea10f581" basePath="/api/timezone" >
		<http:request-connection host="worldtimeapi.org" />
	</http:request-config>
	<flow name="demoFlow" doc:id="b2c9dfa5-759c-4a9e-b096-2a1d56ef3d2f" >
		<http:listener doc:name="Listener" doc:id="dd4cbd14-3cb2-4b70-af68-56898d7be870" config-ref="HTTP_Listener_config" path="/{region}/{city}"/>
		<http:request method="GET" doc:name="Request" doc:id="06b268ca-635a-464a-8bbe-f5b56ba1ffd5" config-ref="HTTP_Request_configuration" path="/{region}/{city}">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	region : attributes.uriParams.region,
	city : attributes.uriParams.city
}]]]></http:uri-params>
		</http:request>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="c92a62c1-3024-4376-8c0c-bdbeb70b2332" />
	</flow>
</mule>
